#report {
	 border-collapse:collapse;
}

#report h4 {
	 margin:0px; padding:0px;
}

#report img {
	 float:right;
}

/*
#report th {
	 background:#7CB8E2 url(header_bkg.png) repeat-x scroll center left; 
	 color:#fff;
	 padding:7px 15px; 
	 text-align:left;
}
*/
/*expand‚·‚é—ñ(Ú×)‚Ìİ’è*/
#report td { 
	/*background:#C7DDEE none repeat-x scroll center left;*/ 
	/*background-color: #eff7ff;*/
	color:#000; 
	padding:7px 15px; 
}

/*EXPAND‚µ‚È‚¢—ñ‚Ìİ’è*/
#report tr.odd td { 
/*	background:#fff url(../images/row_bkg.png) repeat-x scroll center left; */
	background-color: #eff7ff;
	cursor:pointer; 
}


#report div.arrow {
	 background:transparent url(../images/expand_arrow.png) no-repeat scroll 0px -16px; 
	 width:16px; 
	 height:16px; 
	 display:block;
}

#report div.up {
	 background-position:0px 0px;
}

#report .detail{
 
}

#report .detail td{
    background-color: #eff7ff;
    color:#000; 
	padding:5px 10px;
}
#report .detail tr.odd td { 
	background:#fff; 
	cursor:pointer; 
}

